html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: LightGray;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
div {
  border: 1px solid Chocolate;
}

/* Fonts*/
.intro h1 {
  font-size: 3.125rem;
  margin-top: -1rem;
  color: #fff;
  text-align: center;
  font-weight: 300;
}
.intro h3 {
  font-size: 1.563rem;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin-top: -1.5rem;
}
.cases h2 {
  font-size: 2.7rem;
  margin-top: 5.3rem;
  color: #1d1e21;
  text-align: center;
  font-weight: 300;
}
.caption {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  color: #1d1e21;
  text-align: center;
  font-weight: 400;
}

/*  Navigation */
.top-nav {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
.content {
    width: 970px;
    margin: 0 auto;
    padding: 10px 15px;
}
.top-nav .content {
  height: 70px;
}
.top-nav .links {
  float: right;
}
.top-nav .links li {
  display: inline-block;
  margin-left: 20px;
}
.top-nav  .links .active {
  color: #4c5058;
  font-weight: 500;
}
.links li a {
  font-size: 16px; 
  color: #838994; 
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 0.5s ease;
}
.links li a:hover {
  color: #4c5058;
  cursor: pointer;
}
/*Sections*/
.intro {
background-image: url('../images/background-image.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 45.938rem;
  position: relative; 
  overflow: auto;
}
.intro .content {
  width: 970px;
  margin: 0 auto;
  padding: 0 0.938;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.big-button {
  text-shadow: none;
  border-style: none;
  border-radius: none;
  padding: 16px 26px;
  line-height: 1.33;
  background-color: #f15a29;
  border-radius:4px;
  font-size: 1.25rem;
  color: #fff;
  width: 9.688rem;
  display: block;
  margin: 0 auto;
  line-height: 1.33;
  margin-top: -0.5rem;
}
.big-button:hover {
  background-color: #C23F1D;
  cursor: pointer;
}
.cases {
  background-color: #fff;
}
.cases .devices {
  display: inline-block;
  text-align: center;
  width: 33.3333333%;
}
.flexbox {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
